<navbar class="formHeader" color="talkColor">
    <img src="IntComex.png"> 
    <ion-title class="tituloTab">Demo Test CRUD Application, Front-END and BackEnd, only implements Create</ion-title>    
</navbar>
<h1  class="headone">Aplicación WEB, Contactos</h1>
