<div class="main">
<h2> Work test Developer<div class="roller">
    <span id="rolltext">Backend net framework<br/>
    Net core developer<br/>        
    IntComex 2023<br/>
    Rubio Rubio<br/>    
    <span id="spare-time">Bogota Colombia</span><br/>
    </div>
</h2>
</div>